In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Downloads/ENJOYSPORT.csv")

In [3]:
data

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [18]:
h=d[0]
print(h)
d = np.array(data)[:,:-1]
target=np.array(data)[:,-1]
for i,row in  enumerate(target) :
    if(row==0):
        continue
    else:
         for index,v in enumerate(d[i]):
                if h[index]==v:
                    continue
                else :
                    h[index]="?"
                print(h)
print(h)

['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' '?' 'Same']
['Sunny' 'Warm' '?' 'Strong' '?' '?']
['Sunny' 'Warm' '?' 'Strong' '?' '?']